# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# PyInstaller
build/
dist/

# Veritabanı
*.db
*.sqlite3

# Ortam değişkenleri
.env

# IDE dosyaları
.idea/
.vscode/
*.swp 